* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}

body {
  background: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(100%);
}

.countdown {
  position: fixed;
  top: 700px;
  text-align: center;
  width: 30vw;
  color: white;
}

.timer {
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.current-year {
  color: green;
  font-size: 100px;
}

.future-year {
  color: green;
  font-size: 40px;
  cursor: pointer;
  margin-top: 0.5em;
}

.previous-year {
  color: green;
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.image-container2017 {
  position: absolute;
  display: none;
  animation: fadeIn 3s;
}

.image-container2018 {
  position: absolute;
  display: none;
  animation: fadeIn 3s;
}

.image-container2019 {
  position: absolute;
  display: none;
  animation: fadeIn 3s;
}

.image-container2020 {
  position: absolute;
  display: none;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

img {
  position: absolute;
}

.wed1, .img2018-1, .img2019-1, .img2020-1 {
  top: 200px;
  left: 100px;
  width: 250px;
  transform: rotate(-20deg);
}

.wed2, .img2018-2, .img2019-2, .img2020-2 {
  top: 100px;
  left: 500px;
  width: 250px;
}

.wed3, .img2018-3, .img2019-3, .img2020-3 {
  top: 500px;
  left: 400px;
  width: 250px;
  transform: rotate(40deg);
}

.wed4, .img2018-4, .img2019-4, .img2020-4 {
  top: 100px;
  left: 1200px;
  width: 250px;
}

.wed5, .img2018-5, .img2019-5, .img2020-5 {
  top: 100px;
  left: 1550px;
  width: 250px;
  transform: rotate(40deg);
}

.wed6, .img2018-6, .img2019-6, .img2020-6 {
  top: 500px;
  left: 1350px;
  width: 250px;
}

.img2019-7 {
  left: 1600px;
  top: 600px;
  width: 250px;
  transform: rotate(30deg);
}

