* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}

body {
  background: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(100%);
}

.countdown {
  position: fixed;
  top: 700px;
  text-align: center;
  width: 30vw;
  color: white;
}

.timer {
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.current-year {
  color: green;
  font-size: 100px;
}

.future-year {
  color: green;
  font-size: 40px;
  cursor: pointer;
  margin-top: 0.5em;
}

.previous-year {
  color: green;
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.image-container {
  position: absolute;
  display: none;
}

img {
  position: absolute;
}

.wed1 {
  top: 200px;
  left: 100px;
  width: 250px;
  opacity: 90%;
  transform: rotate(-20deg);
}

.wed2 {
  top: 100px;
  left: 500px;
  width: 250px;
  opacity: 90%;
}

.wed3 {
  top: 500px;
  left: 400px;
  width: 250px;
  opacity: 90%;
  transform: rotate(40deg);
}

.wed4 {
  top: 100px;
  left: 1200px;
  width: 250px;
  opacity: 90%;
}

.wed5 {
  top: 100px;
  left: 1550px;
  width: 250px;
  opacity: 90%;
  transform: rotate(40deg);
}

.wed6 {
  top: 500px;
  left: 1350px;
  width: 250px;
  opacity: 90%;
}

.wed1, .wed2, .wed3, .wed4, .wed5, .wed6 {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  90% {opacity:0.8;}
}

