* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Slab', serif;
}

body {
  background: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(100%);
}

.current-year {
  color: #0f2563;
  font-size: 100px;
  font-weight: 700;
}

.future-year {
  color: #040F2C;
  font-size: 40px;
  cursor: pointer;
  margin-top: 0.5em;
  font-weight: 700;
}

.previous-year {
  color: #040F2C;
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.image-container2017 {
  position: absolute;
  display: none;
  animation: fadeIn 3s;
}

.image-container2018 {
  position: absolute;
  display: none;
  animation: fadeIn 3s;
}

.image-container2019 {
  position: absolute;
  display: none;
  animation: fadeIn 3s;
}

.image-container2020 {
  position: absolute;
  display: none;
  animation: fadeIn 3s;
}

.image-container2021 {
  position: absolute;
  display: none;
  animation: fadeIn 3s;
}

.image-container2022 {
  position: absolute;
  display: none;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

img {
  position: absolute;
}

.wed1,
.img2018-1,
.img2019-1,
.img2020-1,
.img2021-1,
.img2022-1 {
  top: 200px;
  left: 100px;
  width: 250px;
  transform: rotate(-20deg);
}

.wed2,
.img2018-2,
.img2019-2,
.img2020-2,
.img2021-2,
.img2022-2 {
  top: 100px;
  left: 500px;
  width: 250px;
}

.wed3,
.img2018-3,
.img2019-3,
.img2020-3,
.img2021-3,
.img2022-3 {
  top: 500px;
  left: 400px;
  width: 250px;
  transform: rotate(40deg);
}

.wed4,
.img2018-4,
.img2019-4,
.img2020-4,
.img2021-4,
.img2022-4 {
  top: 100px;
  left: 1200px;
  width: 250px;
}

.wed5,
.img2018-5,
.img2019-5,
.img2020-5,
.img2021-5,
.img2022-5 {
  top: 100px;
  left: 1550px;
  width: 250px;
  transform: rotate(40deg);
}

.wed6,
.img2018-6,
.img2019-6,
.img2020-6,
.img2021-6,
.img2022-6 {
  top: 500px;
  left: 1350px;
  width: 250px;
}

.img2019-7 {
  left: 1600px;
  top: 600px;
  width: 250px;
  transform: rotate(30deg);
}

.countdown {
  display: block;
  position: fixed;
  top: 650px;
  left: 50px;
  text-align: center;
  width: 30vw;
  color: white;
}

.timeline {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.timer {
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-content: center
}

.seconds,
.minutes,
.hours,
.days {
  background-color: #040F2C;
  font-size: 20px;
  width: 100px;
  color: whitesmoke;
  border-radius: 5px;
  margin-right: 1em;
  padding: 1em;
}

.svalue,
.mvalue,
.hvalue,
.dvalue {
  font-size: 30px;
  color: whitesmoke
}

.titleTimer {
  font-size: 30px;
}

.titleSpotify {
  font-size: 30px;
  color: white;
  width: 460px;
  margin: 0 auto;
  margin-top: 1em;
}

.spotify {
  height: 50px;
  width: 460px;
  margin-left: 3em;
}

@media only screen and (max-width: 380px) {
  .titleTimer {
    font-size: 30px;
    color: #040F2C;
    padding-left: 0;
  }

  .countdown {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    color: white;
  }

  body {
    background-position: 55% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .titleTimer {
    margin-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .timer {
    flex-direction: column;
    align-items: center;
  }

  .seconds,
  .minutes,
  .hours,
  .days {
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  .spotify {
    margin-top: 0;
    margin-left: 0;
    width: 100vw;
  }

  .timeline {
    margin-top: 2em;
    flex-direction: row;
    align-items: flex-start;
  }

  .current-year {
    font-size: 60px;
  }

  .previous-year {
    margin-bottom: 0;
    margin-top: 1em;
    font-size: 30px;
  }

  .future-year {
    margin-top: 1em;
    font-size: 30px;
  }

  .wed1,
  .img2018-1,
  .img2019-1,
  .img2020-1,
  .img2021-1,
  .img2022-1 {
    top: 300px;
    left: 30px;
    width: 150px;
    transform: rotate(-20deg);
  }

  .wed2,
  .img2018-2,
  .img2019-2,
  .img2020-2,
  .img2021-2,
  .img2022-2 {
    top: 100px;
    left: 90px;
    width: 150px;
    z-index: 1;
  }

  .wed3,
  .img2018-3,
  .img2019-3,
  .img2020-3,
  .img2021-3,
  .img2022-3 {
    top: 450px;
    left: 150px;
    width: 150px;
    transform: rotate(40deg);
    z-index: 1;
  }

  .wed4,
  .img2018-4,
  .img2019-4,
  .img2020-4,
  .img2021-4,
  .img2022-4 {
    top: 250px;
    left: 180px;
    width: 150px;
  }

  .wed5,
  .img2018-5,
  .img2019-5,
  .img2020-5,
  .img2021-5,
  .img2022-5 {
    top: 520px;
    left: 30px;
    width: 150px;
    transform: rotate(-40deg);
  }

  .wed6,
  .img2018-6,
  .img2019-6,
  .img2020-6,
  .img2021-6,
  .img2022-6 {
    top: 630px;
    left: 180px;
    width: 150px;
  }

  .img2019-7 {
    left: 20px;
    top: 700px;
    width: 150px;
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 425px) {
  .titleTimer {
    font-size: 30px;
    color: #040F2C;
    padding-left: 0;
    margin-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .titleSpotify {
    margin-top: 2em;
    color: white;
    width: 400px;
  }

  .countdown {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    color: white;
  }

  body {
    background-position: 55% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .timer {
    margin-top: 5em;
    flex-direction: column;
    align-items: center;
  }

  .seconds,
  .minutes,
  .hours,
  .days {
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  .spotify {
    margin-top: 0;
    margin-left: 0;
    width: 100vw;
  }

  .timeline {
    margin-top: 2em;
    flex-direction: row;
    align-items: flex-start;
  }

  .current-year {
    font-size: 60px;
  }

  .previous-year {
    margin-bottom: 0;
    margin-top: 1em;
    font-size: 30px;
  }

  .future-year {
    margin-top: 1em;
    font-size: 30px;
  }

  .wed1,
  .img2018-1,
  .img2019-1,
  .img2020-1,
  .img2021-1,
  .img2022-1 {
    top: 300px;
    left: 30px;
    width: 150px;
    transform: rotate(-20deg);
  }

  .wed2,
  .img2018-2,
  .img2019-2,
  .img2020-2,
  .img2021-2,
  .img2022-2 {
    top: 100px;
    left: 90px;
    width: 150px;
    z-index: 1;
  }

  .wed3,
  .img2018-3,
  .img2019-3,
  .img2020-3,
  .img2021-3,
  .img2022-3 {
    top: 450px;
    left: 150px;
    width: 150px;
    transform: rotate(40deg);
    z-index: 1;
  }

  .wed4,
  .img2018-4,
  .img2019-4,
  .img2020-4,
  .img2021-4,
  .img2022-4 {
    top: 250px;
    left: 180px;
    width: 150px;
  }

  .wed5,
  .img2018-5,
  .img2019-5,
  .img2020-5,
  .img2021-5,
  .img2022-5 {
    top: 520px;
    left: 30px;
    width: 150px;
    transform: rotate(-40deg);
  }

  .wed6,
  .img2018-6,
  .img2019-6,
  .img2020-6,
  .img2021-6,
  .img2022-6 {
    top: 630px;
    left: 180px;
    width: 150px;
  }

  .img2019-7 {
    left: 20px;
    top: 700px;
    width: 150px;
    transform: rotate(0deg);
  }
}